*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0%;
}

body {
    min-height: 4000px;
}

#Home {
    padding-top: 5rem;
    background-color: #21f0f0;
    background-image: url(https://i.pinimg.com/550x/1f/8a/e5/1f8ae5f7be5b1135979f3e17aa21a949.jpg);
}

.jumbotron{
    padding-top: 2rem;
    background-color: #7bc2e2;
}

#About {
    padding-top: 5rem;
    background-color: #c72acc;
}

#Skill {
    padding-top: 5rem;
    background-color: #c3a1df;
}

section {
    padding-top: 5rem;
}

#blog{
    padding-top: 5rem;
    background-color: #3533b3;
}

#Medsos {
    padding-top: 5rem;
    background-color: #23cfb3;
    text-align: center;
}
.icons a {
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .icons .bi {
      padding-right: 3px;
  }
  .icons .instagram {
      background-color: #8cce21;
  }
  .icons .facebook {
      background-color: #17d6c6;
  }
  .icons .whatsapp {
      background-color: #63077a;
  }
  
#kontak {
    padding-top: 5rem;
    background-color: #33b16b;
}